html{
  font-size: 18px;
}

/*top css*/
#slide-gototop{
  /*display: none;*/
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 999;
  
}

#slide-gototop a{
  text-decoration: none;
}

.gototop {
    width: 80px;
    height: 80px;
    font-size: 1.2rem;
    padding-top: 25px;
    text-align: center;
    color: white;
    background-color: #b6bb69;
    border-radius: 50%;
}

body{
  font-family: 'Arial', '微軟正黑體', '黑體', '黑體-繁','serif';

}

      .jumbotron-bg{
        background-image: url(../images/banner_pic.jpg);
        background-size: cover;
        background-position: center center;
        min-height: 600px;
      }

      .header-carousel-item{
        height: 500px;

      }

      .bg-cover-cc{
        background-size: cover;
        background-position: center center;
      }


      .bg-cover-cb{
        background-size: cover;
        background-position: center top;
      }

.hit-font{
  font-size: 1.5rem;
}

.img-h-200{
  height: 200px;
}

.img-h-500{
  height: 500px;
}

.img-h-300{
  height: 300px;
}

.img-h-400{
  height: 400px;
}

.bg-light-gray {
  background-color: #d7dce3;
}

.font-green{
  color: #BFD300;
}

.footer-bg{
    background-color: #f9f9f9;
    color: #888888;
    font-weight: 400;
}

/*.grad {
  background: #ebecd0;                    /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top, #ebecd0, #ffffff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, #ebecd0, #ffffff);      /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, #ebecd0, #ffffff);    /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top, #ebecd0 , #ffffff);     /* Standard syntax */
}*/

.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 0px solid rgba(0,0,0,.125);
}

.navbar-expand-lg .navbar-nav .nav-link {
    /*font-size: .9rem;*/
    padding-right: 2rem;
    padding-left: 2rem;
    /*letter-spacing: 1px;*/
    /*background-color: pink;*/
    margin: 2px auto;
    
}
.border-b{
    border-bottom: solid 1px #555;
}


.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 0px solid rgba(0,0,0,.125);
}

.col-form-label-check {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}

.banner-title{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 430px;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background-color: rgba(118, 143, 72, 0.5) ;
    padding-top: 1rem;
    border: solid 2px #fff;
    left: 20%;
    right: 20%;
}

.carousel-item-content-small{
  letter-spacing: .2rem;
}

.carousel-item-content-small{
  letter-spacing: .2rem;
}